*{
    font-size: 1.2rem;
}



body {
    background-color: rgb(70, 9, 9);
}

p{
    color: white
}

.style-p {
    color: rgb(116, 116, 58);
}

h1{
    color: rgb(116, 116, 58);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Selector de Clase*/
.titulo-secundario {
    color: rgb(71, 107, 107);
    text-decoration: underline;
}
.test {
    font-family: cursive;
}

/*Selector de ID*/
#parrafo-unico {
    color: rgb(116, 116, 58);
    background-color: rgb(80, 38, 28);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.caja-modelo {
    width: 50%;
    background-color: rgb(53, 8, 2);
    border: 5px solid black;
    padding: 20px;
    margin: 4px 10px 40px 10px;
    color: white;
    border-radius: 50px;
}